<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LogIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> LogIN </ion-title>
    </ion-toolbar>
  </ion-header>




  <ion-card>
    <ion-card-header>
      <ion-card-title> LogIN</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <form #myform="ngForm" (ngSubmit)="login(myform)">
        <ion-item>
          <ion-label position="floating" >Username</ion-label>
          <ion-input placeholder="Enter text" name="Username" ngModel></ion-input>
        </ion-item>

        <ion-item >
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" placeholder="Enter text" name="Password" ngModel></ion-input>
        </ion-item>



        <ion-button type="submit" expand="block">LogIn</ion-button>

      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
